---
import Layout from '../layouts/layout.astro'
---

<Layout title='404 - Not Found'>
	<div class='flex flex-col justify-center items-center gap-8 text-white text-center'>
		<h1 class='text-5xl font-semibold'>- 404 -</h1>
		<h2 class='text-xl text-neutral-300'>It seems that the page you are looking for does not exist.</h2>
		<img
			class='border-8 border-gray-800'
			alt='This is fine'
			src='https://midu.dev/images/this-is-fine-404.gif'
		/>
	</div>
</Layout>
