<footer class='flex flex-col mt-auto items-center md:flex-row w-full justify-center gap-4 lg:gap-8 text-gray-300'>
	<span class='hidden md:block'>•</span>
	<h3>Copyright © 2023 Lucas Hoz</h3>
	<span class='hidden md:block'>/</span>
	<h3>
		Special thanks to <a
			class='text-blue-300 hover:underline'
			href='https://www.linkedin.com/in/midudev/'
			target='_blank'
			title='Visit Midudev LinkedIn'
		>
			Midudev
		</a>
	</h3>
	<span class='hidden md:block'>/</span>
	<h3>
		<a
			class='text-blue-300 hover:underline'
			href='https://github.com/hozlucas28/Astro-Course-2023'
			target='_blank'
			title='Visit Source Code'
		>
			View Source Code
		</a>
	</h3>
	<span class='hidden md:block'>•</span>
</footer>
