---

---

<header class='mx-auto max-w-xl flex flex-col gap-8 mb-8 sm:mb-16'>
	<div class='text-center'>
		<h2 class='mb-4 text-5xl tracking-tight font-extrabold text-white'>SpaceX Launches</h2>
		<p class='font-light text-gray-300 sm:text-xl'>Get the latest updates of SpaceX launches</p>
	</div>
</header>
