---
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
import Head from './head.astro'

interface Props {
	title: string
	frontmatter?: Omit<Props, 'frontmatter'>
}

const { title, frontmatter } = Astro.props
---

<!doctype html>
<html lang='en'>
	<Head title={title ?? frontmatter?.title} />
	<body class='bg-gray-900 min-h-screen p-8 flex flex-col'>
		<Header />
		<main class='max-w-5xl mx-auto mb-8 sm:mb-16'>
			<slot />
		</main>
		<Footer />
	</body>
</html>
